.layout_title {
    font-size: 3rem;
    height: 150px;
    line-height: 150px;
    text-align: center;
    font-weight: 800;
}

.layout_img_btn {
    display: flex;
    position: absolute;
    right: 10%;
    top: 10%;
}

.layout_img {
    width: 40px;
    height: 40px;
    border: 1px solid #222222;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.login_img {
    border: none;
    background-color: transparent;
    box-sizing: border-box;
}

.layout_hr {
    border: 0.5px solid #222222;
}

/* .layout_content {
    text-align: left;
    padding: 1.5% 0 1.5% 5%;
    box-sizing: border-box;
    font-size: 1.4rem;
    font-weight: 500;
} */

.layout_content {
    width: 90%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    margin: 0 auto;
    height: 60px;
    font-weight: 500;
    font-size: 1.1rem;
}

.user {
    position: absolute;
    width: 250px;
    background-color: white;
    border: 1px solid #222222;
    z-index: 1;
    top: 150%;
    left: -200%;
    text-align: left;
}

.user_li {
    padding: 13px 0 13px 20px;
    cursor: pointer;
    border: 0.6px solid #222222;
    font-size: 0.9rem;
    font-weight: 500;
}

.p {
    color: #bd0303;
}

.user_li:hover {
    background-color: lightgoldenrodyellow;
}

.layout_footer {
    display: flex;
    justify-content: space-between;
    padding: 3.5% 5% 5% 5%;
}

.footer_title {
    font-size: 2.5rem;
    font-weight: 800;
}

.footer_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px;
}

.footer_flex {
    display: flex;
    flex-direction: column;
    gap: 9px;
    text-align: right;
    font-size: 0.9rem;
}

.footer_pd {
    padding: 0 5% 5% 5%;
    margin-top: 3%;
}

.footer_company {
    font-size: 0.9rem;
    margin: 7px 0;
}

.footer_a:hover {
    color: darkorange;
}