
/* header */
.header_title{
    font-size: 2.5rem;
    font-weight: 700;
    margin: 20px 0;
    padding-left: 10%;
}

.main_hr {
 border: 0.8px solid #222222;
}

.header_flex {
    background-color: darkorange;
    display: flex;
    height: 480px;
    box-sizing: border-box;
}

.header_intro {
    padding: 35px 0 25px 10%;
    box-sizing: border-box;
}

.header_a {
    margin-right: 5px;
}

.header_mg1 {
    margin-bottom: 27px;
}r

.header_mg2 {
    margin-bottom: 5px;
}

.header_mg3 {
    margin-bottom: 8px;
}

.form_input {
    width: 450px;
    height: 50px;
    padding-left: 10px;
    box-sizing: border-box;
    margin-bottom: 7px;
}

.agreedchk {
    margin: 6px 0;
    display: inline-block;
    font-size: 0.9rem;
}

.form_chk {
    margin-right: 5px;
}


.underline {
    text-decoration: underline;
    background-color: transparent;
    border: none;
    font-size: 0.9rem;
}

.read_btn {
    width: 230px;
    height: 50px;
    background: white;
    border: 2px solid #222222;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: 500;
    box-sizing: border-box;
}

.read_btn:hover {
    background: #222222;
    color: white;
}

.down_a {
    width: 230px;
    height: 50px;
    background: #222222;
    border: none;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: 500;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    color: white;
}

.down_div {
    display: inline-block;
    margin-right: 5px;
}

.down_img {
    vertical-align: middle;
}

.btn_mg {
    margin-top: 30px;
}

.intro_img {
    overflow: hidden;
    width: 500px;
    height: 480px;
    margin-left: 100px;
}

/* body */
.body_ul {
    display: flex;
    gap: 30px;
    justify-content: center;
    height: 65px;
    line-height: 65px;
    list-style: none;
    font-size: 1rem;
    font-weight: 500;
}

.menu_bar {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
}

.board {
    width: 88%;
    display: grid;
    margin: 0 auto;
    text-align: left;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    border-collapse: collapse;
}

/* .board_set {
    display: none;
}

.board_set.active {
    display: block;
}

.is_comp.board_set:after {
    display: none;
}

.plus_btn, .board, .board_set {
    display: block;
} */

.board_post {
    /* width: 300px; */
    height: 330px;
    border: 1px solid #222222;
    /* display: table-cell;
    border-collapse: collapse; */
    box-sizing: border-box;
}

.post_img {
    width: 100%;
    height: 65%;
    object-fit: cover;
}

.post_text {
    padding: 15px;
    height: 35%;
    box-sizing: border-box;
}

.post_title {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.post_font {
    font-size: 0.9rem;
    display: inline-block;
}

.ib {
    display: inline-block;
    margin-right: 30px;
}

.plus_btn {
    width: 250px;
    height: 40px;
    border: 1px solid #222222;
    border-radius: 7px;
    background: white;
    font-size: 0.9rem;
    font-weight: 500;
    box-sizing: border-box;
    margin: 20px 0 230px 0;
}

.total_board {
    text-align: center;
    width: 100%;
}

.main_hr1 {
    border: 1.1px solid #222222;
}

.bg {
    background-color: darkorange;
    height: 100px;
    overflow: hidden;
    width: 100%;
}

.interval{
    height: 100px;
}

.footer_link {
    width: 90%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    margin: 0 auto;
    height: 60px;
    font-weight: 500;
    font-size: 1.1rem;
}

.link_mg{
    margin-left: 5px;
}

.app_link{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 65px;
    font-weight: 600;
}

.title_img {
    margin-left: 45%;
    box-sizing: border-box;
}

.li_flex {
    display: flex;
    align-items: center;
}

.menu_bar_mg {
    margin-right: 3px;
}

/* 모달 */

.person_modal{
    display: none;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background-color: rgba(34, 34, 34, 0.7);
    overflow: hidden;
}

.p_modal {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 650px;
    width: 880px;
    background-color: white;
    padding: 30px;
    box-sizing: border-box;
    border: 1px solid #222222;
    overflow-y: scroll;
}

.person_title {
    font-size: 1rem;
    font-weight: 600;
}

.person_content {
    margin: 20px 0;
    font-size: 0.9rem;
}

.person_ul {
    list-style: none;
    display: grid;
    grid-template-columns: 200px 200px 400px;
    margin: 10px 0 15px 10px;
    font-weight: 600;
    font-size: 0.9rem;
}

.person_hr {
    border: 0.7px solid lightgray;
}

.person_w {
    margin: 30px 0 8px 0;
    font-weight: 600;
    font-size: 0.9rem;
}

.person_ul1 {
    list-style: none;
    display: grid;
    grid-template-columns: 120px 480px 200px;
    font-size: 0.9rem;
    margin: 10px 0 15px 10px;
}

.b {
    font-weight: 600;
}

.person_mg {
    margin-top: 80px;
}

.visible {
    visibility: visible;
}

.hidden {
    background-color: white;
    visibility: hidden;
}

.p_close {
    border: 1px solid;
    display: inline;
    position: absolute;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    right: 20px;
    top: 20px;
}

.tab_pd {
    padding: 70px 50px 0 50px;
}

.tab_title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.title_b {
    font-size: 1.8rem;
    font-weight: 500;
}

.tab_item {
    cursor: pointer;
}

.tab_item.active {
    border-bottom: 3px solid #222222;
}

.tab_content {
    display: none;
}

.tab_content.active {
    display: block;
}

